$bg-nav: rgba(0, 0, 0, 0.8);
$color-nav: #ddd;
$color-nav-active: orange;
$bg-footer: rgba(0, 0, 0, 0.9);
$bg-body:#222;
$color-body:#ddd;
$color-btn:orange;




$bg-page:rgba(2,2,2,0.8);
$color-page:$color-body;
$color-page-active:white;

