@import "compass/css3";
@import "../../../theme/colors";

div.notfound {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  top: 40%;
  @include translateY(-50%);
  .t404 {
    font-size: 13rem;
    line-height: 13rem;
    padding: 0;
  }
  .c404 {
    padding: 0;
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
  .nback {
    margin-top: 1rem;
    @include border-radius(2rem);
    color: $color-btn;
    font-weight: 500;
    border: 0.13rem solid $color-btn;
    padding: 0.4rem 1rem;
    &:hover {
      color: $color-body;
    }
  }
}
