<div class="container-fluid">
  <div class="row text-center">
    <div class="center-box">
      <form *ngIf="clientProfile">
        <label>{{clientProfile.client_name}}{{scope}}{{redirect_uri}}{{client_id}}</label>
        <label class="text-danger">{{error}}</label>
        <div class="form-group">
          <input type="text" class="form-control-lg form-control " name="username" placeholder="输入用户名"
                 [(ngModel)]="username">
        </div>
        <div class="form-group">
          <input type="text" class="form-control-lg form-control" placeholder="输入密码" name="password"
                 [(ngModel)]="password">
        </div>
        <div class="form-group">
          <button class="form-control btn btn-lg btn-primary" (click)="doLogin()">登录</button>
        </div>
        <div class="form-group">
          <button class="form-control btn btn-lg btn-success">注册</button>
        </div>
      </form>
    </div>
  </div>
</div>
