<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>MdStatic</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="styles.25cab68a6bc367e99c6a.bundle.css" rel="stylesheet"/>
</head>
<body>
<app-root>Loading...</app-root>
<script type="text/javascript" src="inline.dfb554f9a4985eeff1cd.bundle.js"></script>
<script type="text/javascript" src="polyfills.51751df4ed9f9ee493e9.bundle.js"></script>
<script type="text/javascript" src="vendor.543bd98c5fb4db8415d6.bundle.js"></script>
<script type="text/javascript" src="main.8c5cc05acd85f355dff5.bundle.js"></script>
</body>
</html>

