<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>MdStatic</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="styles.25cab68a6bc367e99c6a.bundle.css" rel="stylesheet"/>
</head>
<body>
<app-root>Loading...</app-root>
<script type="text/javascript" src="inline.7af5f27ada73398cf730.bundle.js"></script>
<script type="text/javascript" src="polyfills.6bc9a92041cbf3817bd2.bundle.js"></script>
<script type="text/javascript" src="vendor.4c68aeec80c38cf64c8a.bundle.js"></script>
<script type="text/javascript" src="main.efa45af0a2662b4d7558.bundle.js"></script>
</body>
</html>
